.themeColor {
    background: #FFFFFF;
}
.word {
    color: #FFFFFF;
    font-size:100px;
    position: absolute;
    left: 300px;
    top: 490px;
    opacity: 0;
}
.topMargin {
    margin-top: 50px;
}
#block{
    background: #0A0A66;
    position: absolute;
    left: 1200px;
    top: 630px;
    opacity: 0;
}
#block h1 {
    color: #FFFFFF;
    font-size: 100px;
    padding: 10px;
}
#planet{
    margin-top:-15px;
    font-size: 64px;
    color: #2a0bde;
}
#title{
    line-height: 30px;
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 800px;
    left: 870px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.98);
    color: #bbbbbb;
    text-align: center;
    ;
}
